<h1>QR Codes</h1>

<%- include ('../includes/messages') %>

<a href="/qrcode/add">→ Add QR Code</a>

<% if (codes != 0) { %>
<div class="qrcodes">
    <% codes.forEach(code => { %> <% if (code) { %>
    <!--TODO: make the date beautiful-->

    <div class="qrcode-wrapper">
        <div class="code">
            <div class="url">
                <h2 class="<%= code.active == false ? 'code-disabled' : 'code-enabled' %>">URL: <%= code.url %></h2>
            </div>
            <div class="qrcode">
                <img src="<%= code.code %>" alt="qrcode" />
            </div>
        </div>

        <div class="infos">
            <h2>Scans: <%= code.scans %></h2>
            <h2>Redirect URL: <%= redirectUrl + code.slug %></h2>
            <h2>Create date: <%= code.date %></h2>
            <div class="buttons">
                <form action="/qrcode/delete" method="POST">
                    <button type="submit" name="delete" value="<%= code.slug %>">Delete</button>
                </form>
                <form action="/qrcode/edit" method="POST">
                    <button type="submit" name="edit" value="<%= code.slug %>">Edit</button>
                </form>
                <form action="/qrcode/print" method="POST">
                    <button type="submit" name="print" value="<%= code.slug %>">Print</button>
                </form>
                <form action="/qrcode/toggleActive" method="POST">
                    <button type="submit" name="slug" value="<%= code.slug %>"><%= code.active == true ? 'Disable' : 'Enable' %></button>
                </form>
            </div>
        </div>
    </div>
    <!--
    
    -->
    <% } else { %>
    <h2>Error reading QR code</h2>
    <hr style="height: 6px; background-color: black" />
    <% } %> <% }) %>
</div>
<% } else { %>
<h1>You don't have any QR Codes yet</h1>
<% } %>
