<h1>QR Codes</h1>

<%- include ('../includes/messages') %>

<a href="/qrcode/add">→ Add QR Code</a>

<% if (codes != 0) { %>
<div class="qrcodes">
    <% codes.forEach(code => { %> <% if (code) { %>
    <!--TODO: Datum schön machen-->

    <div class="qrcode-wrapper">
        <div class="code">
            <div class="url">
                <p class="collapse_indicator">></p>
                <h2>URL: <%= code.url %></h2>
            </div>
            <div class="qrcode">
                <img src="<%= code.code %>" alt="qrcode" />
            </div>
        </div>

        <div class="infos" style="display: none">
            <h2>Scans: <%= code.scans %></h2>
            <h2>Redirect URL: <%= redirectUrl + code.slug %></h2>
            <h2>Create date: <%= code.date %></h2>
            <div class="buttons">
                <form action="/qrcode/delete" method="POST">
                    <button type="submit" name="delete" value="<%= code.slug %>">Delete</button>
                </form>
                <form action="/qrcode/edit" method="POST">
                    <button type="submit" name="edit" value="<%= code.slug %>">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <!--
    
    -->
    <% } else { %>
    <h2>Error reading QR code</h2>
    <hr style="height: 6px; background-color: black" />
    <% } %> <% }) %>
</div>
<% } else { %>
<h1>You don't have any QR Codes yet</h1>
<% } %>
