<h1>Register</h1>

<%- include ('../includes/messages') %>

<form action="/users/register" method="POST">
    <!--TODO-->
    <div>
        <label for="name">Name</label>
        <input type="name" name="name" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>" />
    </div>
    <div>
        <label for="username">Username</label>
        <input type="name" name="username" placeholder="Enter username" value="<%= typeof username != 'undefined' ? username : '' %>" />
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
    </div>
    <div>
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
    </div>
    <button type="submit">Register</button>
</form>

<p>Have an account? <a href="/users/login">→ Login</a></p>
